@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    function handleHover(evt, item, legend) {
        console.log("test");
    }
</script>

@using HelperJS

@{
    var line = 
    Html.JS().Chart()
    .Line("line")
    .Data(d => d
        //.Labels("a", "b", "c", "d")
        .Datasets(ds =>
        {
            ds.Add("chart 1")
            .Data(new { x = "2016-12-25", y = 20 }, new { x = "2016-12-26", y = 10 }, new { x = "2016-12-27", y = 8 })
            .Tension(0.1);
            //ds.Add("chart 2").Data(1.0, 2.5, 1.5, 2);
        }))
        .Options(o =>
        {
            o.Plugins(p =>
            {
                p.Title(t => t.Text("title").Display(true).Position(TitlePosition.Top)
                    .Padding(padding => padding.Bottom(5))
                    .Font(f => f.Weight(900).Size(20.5)));
                p.Legend(l => l.Display(true).OnHover("handleHover"));

            });
            o.Layout(l => l.Padding(50)).Locale("tr-TR");
            o.Scales(Scales.X, s => s.Grace(5).BeginAtZero(true).Display("auto")
                .Grid(g => g.Display(true).Color("green")));
        });
}

@line.Render()
