@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<script>
    function callbackTest() {
        console.log("called!");
    }

    function onDelete(button) {
        var rowData = $('#DataTableId').DataTable().row($(button).parents('tr')).data();

        // Perform actions with rowData
        console.log(rowData); // Example: log data to the console
    }

    function report() {
        console.log("exported");
    }
</script>

@using RazorKit

@{
    var datatable = Html.DataTable<Person>()
            .Columns(c =>
            {
                c.Field(f => f.Id).Visible(false);
                c.Field(f => f.Name).Title("Name");
                c.Field(f => f.Age);
                c.Field(f => f.Title);
                c.Command(c => c.IconClass("bi bi-trash").OnClick("onDelete").BtnClass("btn btn-sm btn-danger").Width(1));
                c.Command(c => c.Text("Edit").OnClick("onDelete").BtnClass("btn btn-sm btn-success").Width(1));
                c.CommandGroup(cg => cg.Text("Report").BtnClass("btn btn-sm btn-secondary").Width(1)
                    .Item("Excel", "report").Item("Pdf", "report"));
            })
            .DataSource(ds => ds
                .URL(Url.Action("GetDataResult"))
                .Method("POST")
                .Naming(Convention.CamelCase))
            .ServerSide(true)
            .Language(l => l.Search("Search By: "))
            .Orders(o =>
            {
                o.Add(x => x.Name, OrderBy.Ascending);
            })
            .Filters(f =>
            {
                f.Add(x => x.Id).GreaterThanOrEqual(1);
            })
            .Callbacks(c => c.InfoCallback("callbackTest"))
            .FixedColumns(f => f.Start(0))
            .LengthMenu(lm => lm.Items(10, 25, 50, 100))
            .FixedHeader(fh => fh.Header(true).HeaderOffset(50))
            .ColReorder(true)
            .Caption("Caption of table")
            .Select(s => s.Style(SelectStyle.Multi).HeaderCheckbox())
            .Layout(x => x.Bottom(Layouts.Paging).BottomEnd(null).TopStart(Layouts.Buttons))
            .Buttons("copy")
            .Button(x => x.Text("Export").Buttons("pdf", "csv").Extend("collection"))
            ;
}

@(datatable.Render())

