@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@using RazorKit

@{
    var datatable = Html.DataTable<Person>()
            .Columns(c =>
            {
                c.Field(f => f.Id).Visible(false);
                c.Field(f => f.Name).Title("Name");
            })
            .DataSource(ds => ds.URL(Url.Action("GetDataResult")).Method("POST"))
            .ServerSide(true)
            .Language(l => l.Search("Search By: "))
            .Orders(o =>
            {
                o.Add(x => x.Name, OrderBy.Ascending);
            })
            .Filters(f =>
            {
                f.Add(x => x.Id).GreaterThanOrEqual(1);
            })
            ;
}

@(datatable.Render())